aside
	article 
		h2 Terir par theus

		ul
			li Vivamus at tortor orci.
			li Ut convallis commodo dui
			li eu aliquam metus fringilla ut
			li Aenean velit ante
			li feugiat sed ultrices sed

	hr

	article.bg-grey
		.lead Webzine
		h4 KJH432DHAS

		p.text-muted Educatas
		p.text-muted Vivamus at tortor orci. Ut convallis commodo dui, eu aliquam metus fringilla ut. Aenean velit ante, feugiat sed ultrices sed, consectetur eget tellus. Mauris convallis ligula

	br

	article.bg-grey
		.lead Webzine
		h4 KJH432DHAS

		img.flex(src="http://placehold.it/400x200")

		p.text-muted Educatas
		p.text-muted Vivamus at tortor orci. Ut convallis commodo dui, eu aliquam metus fringilla ut. Aenean velit ante, feugiat sed ultrices sed, consectetur eget tellus. Mauris convallis ligula

	br

	article.bg-grey
		.lead Webzine
		h4 KJH432DHAS

		p.text-muted Educatas
	

	br
