aside
	article.bg-grey 
		h4.small-black-title Interviews
		.embed-responsive.embed-responsive-16by9
			<iframe  src="https://www.youtube.com/embed/e4Ao-iNPPUc" frameborder="0" allowfullscreen></iframe>
		h2 well, do yaaa???
		p.text-muted Ut convallis commodo dui, eu aliquam metus fringilla ut. Aenean velit ante, feugiat sed ultrices sed, consectetur eget tellus.

		.row.text-muted
			.col-sm-6 lkasjdlakjs 12/12/12
			.col-sm-6
				i.fa.fa-child
				|  name of person


	hr

	article
		h4.small-black-title Interviews

		+mediaobject("Ut convallis commodo")
		+mediaobject("Aliquam metus fringilla")
		+mediaobject("Eget tellus")
		+mediaobject("Aenean velit ante")

	hr

	article
	h2 Aenean velit ante

	a(href="") Locants
	Strong  Etarnd, Sletuys
	p.textmuted Convallis commodo dui, eu aliquam metus fringilla ut. Aenean velit ante, feugiat sed ultrices sed, consectetur eget tellus.


	article

	a(href="") Metus fringilla 
	Strong  Etarnd, Sletuys
	p.textmuted Convallis commodo dui, eu aliquam metus fringilla ut. Aenean velit ante, feugiat sed ultrices sed, consectetur eget tellus.




