aside
	article
		h4.small-black-title A la une

		.lead suter <span class="text-muted">  | lakaksjd  iosiehe </span>
		.h2 Lorem Suten Dolor
		.p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt eros nec tortor feugiat sagittis. Curabitur vitae turpis elementum, gravida erat sed, feugiat metus. Vivamus at tortor orci

		+tagblock

	hr
	article
		.row
			.col-sm-5
				.small-black-title A la une
				
			.col-sm-7
				a(href="") questo de must <span class="text-muted"> | pmuneto 12/12/12 </span>

	article
		.h2 Lorem ipsum dolor sit amet, consectetur adipiscing
		.p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt eros nec tortor feugiat sagittis. Curabitur vitae turpis elementum, gravida erat sed, feugiat metus. Vivamus at tortor orci

		+tagblock


	hr

	article
		strong Suteres <span class="text-muted"> | publes 12/12/12 </span>
		h2 Curabitur vitae turpis elementum
		p: img.flex(src="http://placehold.it/560x350")
		p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt eros nec tortor feugiat sagittis. Curabitur vitae turpis elementum, gravida erat sed, feugiat metus.

		+tagblock

	hr
	article
		strong Suteres <span class="text-muted"> | publes 12/12/12 </span>
		h2 Consectetur adipiscing elit
		p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt eros nec tortor feugiat sagittis. Curabitur vitae turpis elementum, gravida erat sed, feugiat metus.

		+tagblock










