mixin tagblock
	.row.text-muted
			.col-sm-4
				i.fa.fa-chrome
				|  3 days ago
			.col-sm-8
				i.fa.fa-tags
				strong Tags:
					a(href="")   lorem
					|  ,
					a(href="")   lorem
					|  ,
					a(href="")   lorem


mixin mediaobject(title)
	.media(style="display: -webkit-inline-box;")
			.media-left
				a(href="#")
					img.img-circle.media-object(src="http://placehold.it/60x60"  alt="...")

			.media-body(style="padding-left: 8px;")
				h4.media-heading #{title}
				p Ut convallis commodo dui, eu aliquam metus fringilla ut. Aenean velit ante, feugiat sed ultrices sed.


mixin footerunit
	.col-sm-2
		h4 Hey there Buddy
		ul
			li Asdlaskjd
			li Rehaks
			li Bneoise
			li Beniuas 